<div class="wrapper" style="text-align: right; line-height: 2em">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</div>
<header class="hero">
   <div class="wrapper">
       <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>
   </div>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <p>Mathematical sciences talent helping businesses find solutions.</p> -->
            <h1>{{ site.title[page.lang] }}</h1>
            <hr>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Ready for Eureka?</a> -->
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h3 class="section-heading">{{ site.t.form.description[page.lang] }}</h3>
            <br>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 text-center">
            <form action="https://formspree.io/learn@insightscanada.org " method="POST">
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="{{ site.t.form.name[page.lang] }}">
                </fieldset>
                <fieldset class="form-group">
                    <input type="email" class="form-control form-control-lg" name="_replyto" id="exampleInputEmail1" placeholder="{{ site.t.form.email[page.lang] }}" >
                </fieldset>
                <fieldset class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="3" name="message" placeholder="{{ site.t.form.message[page.lang] }}"></textarea>
                </fieldset>
                <input type="submit" value="{{ site.t.form.submit[page.lang] }}" class="btn btn-primary btn-xl page-scroll">
            </form>
        </div>
    </div>
</header>
