<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.t.partners.header[page.lang] }}</h2>
                <hr class="primary">
                <p>{{ site.t.partners.description[page.lang] }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="partners-box">
                    <img src="/img/portfolio/aarmslogo.png" class="wow zoomIn" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="partners-box">
                    <img src="/img/portfolio/canssi_logo.png" class="wow zoomIn" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="partners-box">
                     <img src="/img/portfolio/crm_logo.png" class="wow zoomIn" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="partners-box">
                    <img src="/img/portfolio/fields_logo.jpg" class="wow zoomIn" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="partners-box">
                    <img src="/img/portfolio/PIMS-circle-with-wordmark-CAPS.png" class="wow zoomIn" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
